.formCont {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .notaIn {
    background-color: #f0f0f0; 
    padding: 15px; 
    border: none;
    border-radius: 5px;
    margin-bottom: 20px; 
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
    font-size: 1.2em; 
  }
  
  .btn {
    background-color: #ff00bb; 
    color: white;
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em; 
  }
  
  .btn:hover {
    background-color: #bc008a; 
  }
  