.listaNotas {
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    color:#bc008a;
  }
  
  .notaCont {
    background-color: #ffc5de;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(134, 0, 90, 0.59); 
  }
  